img {
    height: 300px;
    width: 50%;
    object-fit: cover;
}

.container {
    margin-bottom: 40px;
}

.btn {
    background-color:#F75C6C;
    padding: 12px 24px;
    float: right;
    margin-top: 5px;
    width: 70px;
}

#sub-title {
    font-size: 20px;
}