#body   {
    background-color: #F8E9A1;
}

.container {
    margin-bottom: 40px;
}

#sub-title {
    font-size: 20px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  background-color: #A8D0E6;
  border-radius: 5px;
  color: #374785;
  max-width: 800px;
  padding: 80px;
}