/* COLOR PALETTE */
/* #F8E9A1 - Yellow */
/* #F76C6C - Bright red */
/* #A8D0E6 - Light blue */
/* #374785 - Darker blue */
/* #24305E - Darkest blue */

.image-choice {
  width: 100%;
  margin-top: 30px;
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  background-color: #24305e;
  border-radius: 5px;
  color: white;
  max-width: 800px;
  padding: 80px;
}

.btn {
  background-color: #f76c6c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.fas {
  color: white;
}

.wrapper {
  position: relative;
}

.btn:hover {
  background-color: #cf3d3d;
}
